* {
    font-family: R6S-Bold,sans-serif;  
}

/** Background Image **/
body{
    background-image: url(Images/Background-Image-R6.jpg); /* Setting the background image */
    background-repeat: repeat-y; /* Image will repeat vertically */
    background-size: 100%; /* Image will cover 100% of the container's width */
    margin: 0%; /* No margin around the body */
    font-family: R6S-Bold,sans-serif; /* Specifying primary and fallback font */
    font-weight: 400; /* Normal font weight */
    line-height: 1.5; /* Spacing between lines of text */
    color: white; /* Default text color */
    min-height: 100vh; /* Minimum height covers the full viewport height */
    display: flexbox; /* Using the flexbox layout model */
    flex-direction: column; /* Stacking child elements vertically */
}

footer {
    margin-top: auto; /* Push footer to the bottom in flexbox layout */
}

footer, ul {
    width: 100%; /* Full width for footer and ul elements */
    margin-bottom: 0%; /* No bottom margin */
}

header {
    position: relative; /* Set to relative, enabling absolute positioning inside it */
}

header, ul {
    width: 100%; /* Full width for header and ul elements */
    margin-top: 0%; /* No top margin */
}

/** Navigation Bar **/

nav {
    background-color: rgb(57, 57, 65); /* Set background color for navigation */
    max-height: 120px;
    min-height: 94px;
}

nav ul li {
    display: inline-flex; /* List items in a row instead of column */
}

nav a {
    display: inline-flex; /* Inline-flex to align items while keeping flow inline */
    padding: 1rem; /* Padding around the links */
    text-decoration: none; /* No underlines for links */
    color: white; /* Link color */
    font-size: 30px; /* Font size for links */
    font-style: italic; /* Italic font style */
    font-weight: bold; /* Bold font weight */
}

.headerDiv nav ul li {
    border-right: solid 2px black; /* Border on the right of list items */
}

#homePagelogo {
    margin-top: 0%; /* No margin */
    height: 82px; /* Set height */
    padding-top: 10px; /* Padding at the top */
    padding-bottom: 2px;
    padding-right: 5px;
}

#operatorsPage {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-top: 0%;
    margin-left: 0%;
    padding-top: 17px;
    padding-right: 5px;
}

#communityPage {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-left: 0%;
    padding-top: 17px;
    padding-right: 5px;
}

#instagramLogo {
    padding-right: 20px; /* Padding on the right side */
}

#twitterLogo {
    padding-right: 20px; /* Padding on the right side */
}

#contact {
    padding-left: 20px; /* Padding on the left side */
    font-size: 30px;
    font-weight: bold;
}

#gameInfo {
    position: relative; /* Set to relative positioning */
    left: 500px; /* Horizontal positioning */
}